.vs/
**/.vs/

bin/
**/bin/

obj/
**/obj/

alt_bin/
**/alt_bin/

alt_obj/
**/alt_obj/

objverify2-tests/
**/objverify2-tests/

writecheck_api/
**/writecheck_api/

*.user
*.suo
*.wsuo
*.sqlite
*.dbcache
*.cache
DocumentLayout.json
DocumentLayout.backup.json
VSWorkspaceState.json
